
<input placeholder="Enter Number" id="num1" />
<br/>


<button onclick="sum()">Click me</button>

<div>Hi</div>

<script>
function sum(){
	x = parseInt(document.getElementById("num1").value);
	console.log(x*x);
	//console.log(y);
}
</script>