<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
  Insert Employee Details

</button>

<!-- Modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

	<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title" id="staticBackdropLabel">Employee Details</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			<div class="mb-3">
			<label class="form-label">Id</label>
			<input type="number" class="form-control" id="id_html">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
			<div class="mb-3">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" id="name_html" style="text-transform: capitalize">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		 	<div class="mb-3">
			<label class="form-label">Age</label>
			<input type="number" class="form-control" id="age_html">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		 	<div class="mb-3">
			<label class="form-label">City</label>
			<input type="text" class="form-control" id="city_html" style="text-transform: capitalize">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		 	<div class="mb-3">
			<label class="form-label">Salary</label>
			<input type="number" class="form-control" id="salary_html">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		  	<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me out</label>
		  	</div>
		 	</div>
		  	<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		    <button type="button" class="btn btn-success" onclick="add()">Add</button>
		  </div>
		</div>
	  </div>
	</div>
</div>

</body>
<table class="table table-hover">

        <thead>
		<tr>
		  <th scope="col">Id</th>
		  <th scope="col">Name</th>
		  		  <th scope="col">Salary</th>
		  <th scope="col">Age</th>
		  <th scope="col">City</th>
		  <th scope="col">Action</th>
		  
		</tr>
	  </thead>
        <tbody id="output_html">
                <tr>
                        <td>1</td>
                        <td>Bhai</td>
                        <td>2</td>
                        <td>malum nahi</td>
                        <td>bilkul nahi</td>

                </tr>
        </tbody>

</table>


<script>


        // GET Method
function get(json){
        output = "";
        for(i=0;i<json.length; i++){
				output+=`<tr class="table table-hover" data-id=${json[i]._id}>`
				output+=`<th class="id" scope="row">${json[i].id}</th>`
				output+=`<td class="name">${json[i].name}</td>`
				output+=`<td class="salary">${json[i].salary}</td>`
				output+=`<td class="age">${json[i].age}</td>`
				output+=`<td class="city">${json[i].city}</td>`
                output+=`<td><button type="button" class="btn btn-danger" id="delete_html">Delete</button><a class="btn btn-primary" href="edit.html?id=${json[i].id}">EditNew</a>
				</td>`
                        output+=`</tr>`
				document.getElementById("output_html").innerHTML = output;
                }
}



		const url = 'http://localhost:8080/';
		fetch(url)
		.then(response => response.json())
		.then(json => get(json))
	
        // POST Method
        function add (){
        document. location. reload();
        id_value = document.getElementById("id_html").value;
        name_value = document.getElementById("name_html").value;
        age_value = document.getElementById("age_html").value;
        city_value = document.getElementById("city_html").value;
        salary_value = document.getElementById("salary_html").value;
        
        fetch(url, {
        method: 'POST',
        headers: {
        'content-type': 'application/json'
        },

        body: JSON.stringify({
        id: id_value,
        name: name_value,
        age: age_value,
        city: city_value,
        salary: salary_value
        })
        })
        .then(response => response.json())
        .then(data => {
                const arrData = [];
                arrData.push(data);
                get(arrData);

        })
        }

// Delete Method
		document.getElementById("output_html").addEventListener('click', (e)=>{
	
			var delPressed = e.target.id == "delete_html";
			let id = e.target.parentElement.parentElement.dataset.id;
			
			user_input = confirm("Are you sure you want to delete this record?");
			if(user_input) {
				if (delPressed){fetch(url, {
					method: "DELETE",
					headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
					},
					body: JSON.stringify({"_id": id})
					})
					.then((response) => response.json())
					.then((data) => location.reload())
							}
				}
		})












		
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>



