<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
<body>
<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">Id</th>
		  <th scope="col">Name</th>
		  <th scope="col">Age</th>
		  <th scope="col">City</th>
		  <th scope="col">Salary</th>
		</tr>
	  </thead>
	  <tbody>
		<tr class="table table-hover" data-id=${json[i]._id}>
			<th class="id" scope="row">${json[i].id}</th>
			<td class="name">${json[i].name}</td>
			<td class="age">${json[i].age}</td>
			<td class="city">${json[i].city}</td>
			<td class="salary">${json[i].salary}</td>
			<td><button type="button" class="btn btn-danger" id="delete_html">Delete</button><button type="button" class="btn btn-primary" id="edit_html">Edit</button></td>
		</tr>
				
	  </tbody>
	</table>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>



<!-- Modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

	<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title" id="staticBackdropLabel">Employee Details</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			<div class="mb-3">
			<label class="form-label">Id</label>
			<input type="number" class="form-control" id="id_html2">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
			<div class="mb-3">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" id="name_html2" style="text-transform: capitalize">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		 	<div class="mb-3">
			<label class="form-label">Age</label>
			<input type="number" class="form-control" id="age_html2">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		 	<div class="mb-3">
			<label class="form-label">City</label>
			<input type="text" class="form-control" id="city_html2" style="text-transform: capitalize">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		 	<div class="mb-3">
			<label class="form-label">Salary</label>
			<input type="number" class="form-control" id="salary_html2">
			<div id="emailHelp" class="form-text"></div>
		 	</div>
		  	<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me out</label>
		  	</div>
		 	</div>
		  	<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		    <button type="button" class="btn btn-info">Add</button>
		  </div>
		</div>
	  </div>
	</div>
</div>



<script>
// PUT method
        document.getElementById("output_html").addEventListener('click', (e)=>{
                var editPressed = e.target.id == "edit_html";
                let id = e.target.parentElement.parentElement.dataset.id;
				if(editPressed){
			const parent = e.target.parentElement.parentElement;
			var idContent = parent.querySelector(".id").textContent;
			var nameContent = parent.querySelector(".name").textContent;
			var ageContent = parent.querySelector(".age").textContent;
			var cityContent = parent.querySelector(".city").textContent;
			var salaryContent = parent.querySelector(".salary").textContent;


			document.getElementById("id_html2").value = idContent;
			document.getElementById("name_html2").value = nameContent;
			document.getElementById("age_html2").value = ageContent;
			document.getElementById("city_html2").value = cityContent;
			document.getElementById("salary_html2").value = salaryContent;
					
			document.querySelector(".btn-info").addEventListener('click', () => {
			 id_value = document.getElementById("id_html").value;
			name_value = document.getElementById("name_html").value;
			age_value = document.getElementById("age_html").value;
			city_value = document.getElementById("city_html").value;
			salary_value = document.getElementById("salary_html").value;
					
				fetch(url, {
				method: "PUT",
				headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
				},
				body: JSON.stringify(	{
				id: id_value,
				name: name_value,
				age: age_value,
				city: city_value,
				salary: salary_value
				})
				})
				.then((response) => response.json())
				.then((data) => location.reload())
				
			})


		}



// DELETE
        document.getElementById("output_html").addEventListener('click', (e)=>{

			var delPressed = e.target.id == "delete_html";
			let id = e.target.parentElement.parentElement.dataset.id;
			if (delPressed){fetch(url, {
				method: "DELETE",
				headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
				},
				body: JSON.stringify({"_id": id})
				})
				.then((response) => response.json())
				.then((data) => location.reload())
						}
		})

// DELETE and PUT Both Together


/*

// PUT Method

        document.getElementById("output_html").addEventListener('click', (e)=>{
                console.log(e.target.id);
                var delPressed = e.target.id == "delete_html";
                var editPressed = e.target.id == "edit_html";

                let id = e.target.parentElement.parentElement.dataset.id;

				// DELETE Method
				
		if (delPressed){fetch(url, {
		method: "DELETE",
		headers: {
		'Accept': 'application/json',
		'Content-Type': 'application/json'
		},
		body: JSON.stringify({"_id": id})
		})
		.then((response) => response.json())
		.then((data) => location.reload())
				}
				
		if(editPressed){
			const parent = e.target.parentElement.parentElement;
			var idContent = parent.querySelector(".id").textContent;
			var nameContent = parent.querySelector(".name").textContent;
			var ageContent = parent.querySelector(".age").textContent;
			var cityContent = parent.querySelector(".city").textContent;
			var salaryContent = parent.querySelector(".salary").textContent;


			document.getElementById("id_html2").value = idContent;
			document.getElementById("name_html2").value = nameContent;
			document.getElementById("age_html2").value = ageContent;
			document.getElementById("city_html2").value = cityContent;
			document.getElementById("salary_html2").value = salaryContent;
					
			document.querySelector(".btn-info").addEventListener('click', () => {
			 id_value = document.getElementById("id_html").value;
			name_value = document.getElementById("name_html").value;
			age_value = document.getElementById("age_html").value;
			city_value = document.getElementById("city_html").value;
			salary_value = document.getElementById("salary_html").value;
					
				fetch(url, {
				method: "PUT",
				headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
				},
				body: JSON.stringify(	{
				id: id_value,
				name: name_value,
				age: age_value,
				city: city_value,
				salary: salary_value
				})
				})
				.then((response) => response.json())
				.then((data) => location.reload())
				
			})


		}
		
				})

*/













			//const url = 'https://jsonplaceholder.typicode.com/posts';

/*
function deleteData(e) {
console.log(e.target.id)
//id = e.target.parentElement.parentElement.dataset.id;
//console.log(id)
fetch(url, {
method: "DELETE",
headers: {
'Accept': 'application/json',
'Content-Type': 'application/json'
},
body: JSON.stringify({"_id": id})
})
.then((response) => response.json())
.then((data) => { console.table(data); })

}
*/


</script>